*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
    list-style-type: none;
}
ul{
    padding: 0;
}
.container-me{
    max-width: 1200px;
    margin: 0 auto;
}